.main-blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #FFF; }
  .main-blog .header {
    display: flex;
    min-height: 40vh;
    width: 100%;
    background: #4D43D0 url(../imgs/blogbg.jpg) no-repeat;
    background-size: cover;
    align-items: flex-end;
    padding-bottom: 30px;
    justify-content: center; }
    .main-blog .header .header-title {
      margin: 0 auto; }
      .main-blog .header .header-title h1 {
        position: relative;
        padding-bottom: 30px;
        text-transform: capitalize; }
        .main-blog .header .header-title h1 a {
          color: #fff;
          font-family: 'playfair_displayregular';
          text-transform: capitalize;
          font-size: 1em; }
          .main-blog .header .header-title h1 a:hover {
            color: #FFF;
            text-decoration: none; }
        .main-blog .header .header-title h1:after {
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          background-color: #FFF;
          left: 0;
          bottom: 0; }
  .main-blog .content {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main-blog .content .post-card {
      margin-top: 30px;
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
      border: 1px solid rgba(77, 67, 208, 0.125); }
      .main-blog .content .post-card .card-body .date {
        color: #000;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-family: 'playfair_displaybold', Arial, Helvetica, sans-serif; }
        .main-blog .content .post-card .card-body .date:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 1px;
          background-color: #000;
          left: 0;
          bottom: 0; }
      .main-blog .content .post-card .card-body .card-text {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600; }
      .main-blog .content .post-card .card-footer {
        background-color: rgba(0, 0, 0, 0);
        border-top: 0px;
        font-weight: bold;
        padding: 1.5rem 1.25rem; }
    .main-blog .content .pagination-container {
      display: flex;
      justify-content: center;
      padding: 10px;
      align-items: center; }
      .main-blog .content .pagination-container .page-item .page-link {
        color: #000;
        padding: 1rem 1rem; }
        .main-blog .content .pagination-container .page-item .page-link.active {
          color: #fff;
          background: #4D43D0;
          border-color: #4D43D0; }
  .main-blog .single-content {
    padding: 60px 0px; }
    .main-blog .single-content .date {
      font-weight: bold;
      font-family: 'playfair_displaybold', Arial, Helvetica, sans-serif; }
    .main-blog .single-content .title {
      position: relative;
      padding-bottom: 35px;
      padding-top: 10px;
      margin-bottom: 35px; }
      .main-blog .single-content .title:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #4D43D0;
        left: 0;
        bottom: 0; }

.footer-logo svg {
  width: 120px; }

.btop ul {
  position: relative; }
  .btop ul li:first-child {
    padding-top: 10px; }
  .btop ul::before {
    content: "";
    background: #FFF;
    width: 25%;
    height: 2px;
    position: absolute;
    top: 0; }

.social-networks .footer-social-menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff; }
  .social-networks .footer-social-menu li {
    max-width: 120px; }
    .social-networks .footer-social-menu li a {
      font-size: 20px;
      color: #fff; }

.social-networks .footer-menu ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .social-networks .footer-menu ul li:first-child {
    font-weight: normal; }
  .social-networks .footer-menu ul li a {
    color: #fff; }

.headerInterna {
  height: 500px;
  position: relative; }
  .headerInterna .wpb_column {
    height: 100%; }
    .headerInterna .wpb_column .vc_column-inner {
      position: absolute;
      bottom: 0; }
