.main-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    .header{
        display: flex;
        min-height: 40vh;
        width: 100%;
        background: #4D43D0 url(../imgs/blogbg.jpg) no-repeat;
        background-size: cover;
        align-items: flex-end;
        padding-bottom: 30px;
        justify-content: center;      
        .header-title{
            margin: 0 auto;
            h1{
                position: relative;
                padding-bottom: 30px;
                text-transform: capitalize;
                a{
                    color: #fff;
                    font-family: 'playfair_displayregular';
                    text-transform: capitalize;
                    font-size: 1em;
                    &:hover{
                        color: #FFF;
                        text-decoration: none;
                    }
                }

                &:after{
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    background-color: #FFF;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    .content{
        display: flex;
        margin: 0 auto;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        .post-card{
            margin-top: 30px;
            padding-right: 0px;
            padding-left: 0px;
            width: 100%;
            border: 1px solid rgba(77,67,208,.125); 
            .card-body{
                .date{
                    color: #000;
                    position: relative;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    font-family: 'playfair_displaybold', Arial, Helvetica, sans-serif;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 1px;
                        background-color: #000;
                        left: 0;
                        bottom: 0;
                    }
                }
                .card-text{
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: 600
                }
            }
            .card-footer{
                background-color: rgba(0,0,0,0);
                border-top: 0px;
                font-weight: bold;
                padding: 1.5rem 1.25rem;
            }
        }

        .pagination-container{
            display: flex;
            justify-content: center;
            padding: 10px;
            align-items: center;

            .page-item{

                .page-link{
                    color: #000;
                    padding: 1rem 1rem;
                    &.active{
                        color: #fff;
                        background: #4D43D0;
                        border-color: #4D43D0;
                    }
                }
            }
        }
    }

    .single-content{
        padding: 60px 0px;
        .date{
            font-weight: bold;
            font-family: 'playfair_displaybold', Arial, Helvetica, sans-serif;
        }
        .title{
            position: relative;
            padding-bottom: 35px;
            padding-top: 10px;
            margin-bottom: 35px;
            &:after{
                content: "";
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background-color: #4D43D0;
                    left: 0;
                    bottom: 0;
            }
        }
    }
}

.social-networks{
    .footer-social-menu{
        padding: 0;
        display: flex;
        li{
            max-width: 150px;
        }
    }
}